<p id="notice"><%= notice %></p>


<div class="row">
  <aside class="col-sm-2">
    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>
    <% if logged_in? %>
      <%= link_to "Add New Picture",  new_picture_path %>
      <br>
      <%= link_to "Edit", edit_user_path(@user) %> 
      <br>
      <%= link_to "Back", users_path %> 
    <% end %>
  </aside>
  <div class="col-sm-10">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><%= link_to "Titles", user_titles_path(@user.id),  class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "Pictures", user_pictures_path(@user.id), class: "nav-link active" %></li>
    </ul>
    <%= render "pictures/pictureslist" %>
  </div>
</div>
