<ul class="list-unstyled">
  <% titles.each do |title| %>
    <li class="media" >
      <div class="listimage">
        <%= image_tag picture.image_url, id: "indeximage" %> 
      </div>
      <div class="media-body">
        <div>
          <p><%= title %></p>
        </div>
        <div>
          <%= link_to title.user.name, user_path(title.user) %> <span class="text-muted">posted at <%= title.created_at %></span>
        </div>
        <div>
          <% if current_user == titles.user %>
            <%= link_to "Delete", title, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>
      </div>
    </li>
	<% end %>
	<%= paginate titles %>
</ul>