<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @picture.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>

<p>
  <strong>Img:</strong>
  <%= @picture.img %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @picture.created_at %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
