<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @picture.user.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @picture.image_url, id: "mainimage" %>
</p>

<p>
  <strong>Title:</strong>
  <%= title.title %>
</p>


<p>
  <strong>Created at:</strong>
  <%= @picture.created_at %>
</p>

<%= link_to 'Destroy', @picture, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', pictures_path %>

